@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a new address</h1>
<form action="/contact/new_address" method="post">
  <input id='contact-id' name='contact-id' type='hidden' value='@Model["person"].GetId()'>

  <label for="new-type">Address type: </label>
  <input id="new-type" name="new-type" type="text" class="form-control">

  <label for="new-street">Street: </label>
  <input id="new-street" name="new-street" type="text" class="form-control">

  <label for="new-city">City: </label>
  <input id="new-city" name="new-city" type="text" class="form-control">

  <label for="new-state">State </label>
  <input id="new-state" name="new-state" type="text" class="form-control">

  <label for="new-zip-code">Zip code: </label>
  <input id="new-zip-code" name="new-zip-code" type="text" class="form-control">

  <button type="submit" class="btn btn-success">Add Address</button>

</form>
