@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model.GetName()</h1>

<h3><strong>Phone number:</strong> @Model.GetPhoneNumber()</h3>
<h3><strong>Address:</strong> @Model.GetAddress()</h3>

<p><a href="/" class="link">View all contacts</a></p>
<p><a href="/contact/add" class="link">Add a new Contact</a></p>
