@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Enter a new contact:</h1>
<form action="/contact/new" method="post" class="form-group">
  <label for="new-name">Contact name: </label>
  <input id="new-name" name="new-name" type="text" class="form-control">

  <label for="new-phone-number">Contact phone number: </label>
  <input id="new-phone-number" name="new-phone-number" type="text" class="form-control">

  <label for="new-type">Address type: </label>
  <input id="new-type" name="new-type" type="text" class="form-control">

  <label for="new-street">Street: </label>
  <input id="new-street" name="new-street" type="text" class="form-control">

  <label for="new-city">City: </label>
  <input id="new-city" name="new-city" type="text" class="form-control">

  <label for="new-state">State </label>
  <input id="new-state" name="new-state" type="text" class="form-control">
  
  <label for="new-zip-code">Zip code: </label>
  <input id="new-zip-code" name="new-zip-code" type="text" class="form-control">


  <button type="submit" class="btn btn-success">Add</button>
</form>

<p><a href="/" class="link">Return to home page/contact list</a></p>
