@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You created a contact!</h1>
<h3>Name: @Model.GetName()</h3>
<h3>Phone number: @Model.GetPhoneNumber()</h3>
<h3>Address: @Model.GetAddress()</h3>

<a href="/">View all contacts</a>
<a href="/contact/add">Add a new Contact</a>
