@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You created a contact!</h1>
<h3><strong>Name:</strong> @Model.GetName()</h3>
<h3><strong>Phone number:</strong> @Model.GetPhoneNumber()</h3>
<h3><strong>Address:</strong> @Model.GetAddress()</h3>

<a href="/" class="link">View all contacts</a>
<a href="/contact/add" class="link">Add a new Contact</a>
